@font-face {
  font-family: 'Helvetica Neue';
  src: url('fonts/HelveticaNeueLTStd-Th.otf');
}

body {
  font-family: 'Helvetica Neue', cursive;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1, h2 {
  margin: 0;
}

h1 {
  font-size: 50px;
  font-weight: lighter;
  font-family: 'Loved by the King';
  margin-bottom: -10px;
}

h2 {
  font-family: 'Helvetica Neue', georgia;
  font-size: 15px;
}

input {
  outline: none;
  box-shadow: none;
}

.container {
  display: block;
  margin: 0 auto;
  width: 550px;
  text-align: center;
  margin-top: 2%;
}

.letter-spacing {
  letter-spacing: .4em;
}

.letter-spacing-light {
  letter-spacing: .2em;
}

.letter-spacing-heavy {
  letter-spacing: .5em;
}

.mascot {
  height: 400px;
}

.bottom-10 {
  margin-bottom: 10px;
}

.bottom-30 {
  margin-bottom: 30px;
}

.bottom-50 {
  margin-bottom: 50px;
}

.right-30 {
  margin-right: 30px;
}

.clear {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

#mc_embed_signup_scroll {
  width: 450px;
  margin: 0 auto;
  position: relative;
}

#mce-EMAIL {
  width: 242px;
  height: 50px;
  padding: 10px;
  border: 3px solid black;
  text-transform: uppercase;
}

.mc-embedded-subscribe-label {
  font-size: 12px;
  top: -5px;
  left: 27px;
  padding: 0 10px;
  background-color: white;
  position: absolute;
}

#mc-embedded-subscribe {
  cursor: pointer;
  display: inline-block;
  margin-left: 15px;
  padding: 11.2px 30px;
  height: 50px;
  color: white;
  background-color: black;
  border-radius: 55px 255px 25px 255px/255px 25px 255px 55px;
  vertical-align: top;
  border: none;
  transition: 0.2s ease all;
}

#mc-embedded-subscribe:hover {
  border-radius: 155px 155px 125px 155px/0 155px 155px 155px;
}

.social-container {
  display: inline-block;
  transition: 0.3s ease all;
}

.social-container:hover {
  opacity: 0.3;
}

@media only screen and (max-width: 550px) {
  body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
  }
  .container {
    width: 100%;
  }

  h1 {
    font-size: 3em;
  }

  .mascot {
    height: 350px;
  }

  .mc-embedded-subscribe-label {
    margin-left: 3.8%;
  }

  #mc_embed_signup_scroll {
    width: 100%;
  }

  #mce-EMAIL {
    width: 80%;
    margin-bottom: 20px;
  }

  .clear {
    width: 80%;
  }

  #mc-embedded-subscribe {
    width: 100%;
    margin-left: 0;
    border-radius: 0;
  }
}
